<!DOCTYPE html>
<html>
<head>

<meta name="keywords" CONTENT="ABC Airline">
<meta name="author" content="rober" >
<meta NAME="revisit-after" CONTENT="15 days">
<meta NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
<meta NAME="ROBOTS" CONTENT="INDEX, ALL">
<meta NAME="distribution" CONTENT="global">
<STYLE>
div.fltbok {position : absolute ;
         FONT-size: large;
         FONT-weight: bold;
         left: 400px;
         top: 250px;}
      
      a { color: #000000 }
       
        
</STYLE>

</head>

<BODY BGCOLOR="#C6FE99" TEXT="#000000" LINK="#000000" VLINK="#D61E19" ALINK="#000000">
<CENTER>
 <FONT FACE="Impact" COLOR="#FF0000" SIZE="5">A B C Airlines</FONT>
</CENTER>
<div class="fltbok">
  
<p align="center" style="font-style: normal; font-weight: bold; font-size: x-large; ">Success! Your Flight is Booked</p>
<p></p>
<table>
<thead>
<tr>
  <th></th>
  <th>Origin</th>
  <th>Destination</th>
  <th>Flight Number</th>
  <th>Departure Time</th>
  <th>Arrival Time</th>
  <th>Price</th>
</tr>
</thead>
<tbody>

<tr>
  <td></td>
  <td>Portland</td>
  <td>Denver</td>
  <td>66NHL</td>
  <td>01-23-99 12:45</td>
  <td>01-23-99 15:45</td>
  <td>$200</td>
</tr> 
</tbody>
</table>
 <p align="center">
         <a href="selDest.html">Return to Search</a>
 </p>
</div>
</BODY>
</html>
   