<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>OutPut Grade</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    h1{
        color:blue;
        text-align: center;
    }
    body{
        text-align: center;
        background-color: #ebfaff;
    }
</style>
<body>
<h1>Grade Result</h1>
<!--<p th:text="'Total Points: ' + ${flight.}" />-->
<!--<p th:text="'Grade: ' + ${}"/>-->
<a href="/greeting">Enter another Grade?</a>
</body>
</html>