<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Flight Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    h1{
        color:blue;
        text-align: center;
    }
    body{
        text-align: center;
        background-color: #ebfaff;
    }
</style>
<body>
<h1 style="color:blue;">Search For A Flight</h1>
<form action="#" th:action="@{/searchflight}" th:object="${search}" method="post">
    <p>Destination <input type="text" th:field="*{destination}" /></p>
    <p>Origin <input type="text" th:field="*{origin}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>